:root {
    --cor-primaria: #333333;
    --cor-secundaria: #3AE374;
    --cor-terciaria: #FFFFFF;
}
a {
    color: var(--cor-primaria);
}
h2 {
    font-size: 18px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/*-------Header-------------------------------------------------------------------------*/
.logo-mobile {
    position: relative;
}
.logo-desktop {
    display: none;
}
.logo-mobile h2 {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.logo-mobile h2::after {
    display: block;
    content: ".........";
    color: var(--cor-secundaria);
    margin-top: -12px;
}
.navbar button {
    float: right;
}
button:focus {
    outline: none;
}
.navbar-light .navbar-toggler {
    border-color: transparent;
}
.navbar-toggler:focus, .navbar-toggler:hover .navbar-toggler:active {
    text-decoration: none;
}
.button-toggle {
    display: block;
    width: 100%;
}
.bg-light {
    background-color: transparent !important;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--cor-primaria);
}
.nav-item i {
    float: left;
    padding-top: 10px;
    padding-right: 7px;
}
nav .icones-redes i {
    padding-top: 20px;
    margin-right: 13px;
}
nav .icones-redes a:active, a:hover {
    color: var(--cor-secundaria);
}
@media only screen and (min-width: 826px) {
    .container {
        padding-top: 20px;
    }
    .nav-item i {
        display: inline;
    }
    nav .icones-redes {
        width: 200px;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        top: 25px;
    }
    nav ul li a:hover{
        border-top: 1px solid var(--cor-secundaria);
    }
    .itemnav i {
        display: none;
    }
    .logo-mobile {
        display: none;
    }
    .logo-desktop {
        display: block;
        position: relative;
    }
    .logo-desktop img {
        position: absolute;
        top: 20px;
    }    
}
/*---------------Seção Inicio-------------------------------------------------------------------*/
.secao {
    margin-top: 8rem;
}
.img-badges {
    float: right;
}
#destaque-carousel {
    margin-top: 4rem;
}
.banner {
    width: 100%;
}
.banner .coluna-1 {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: var(--cor-secundaria);
}
.coluna-1 img {
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 115px !important;
    height: 128px;
}
.banner .coluna-1 .texto-esquerda {
    padding: 20px;
    width: 90%;
    font-size: 14px;
}
.banner .coluna-1 .texto-esquerda h2 {
    font-size: 20px;
    font-weight: bolder;
    color: var(--cor-terciaria);
}
.banner .coluna-2 {
    display: none;
}
/*Personalização nos dots do owl carousel*/
.owl-theme .owl-dots .owl-dot span {
    border: 1px solid red;
    background: blue !important;
    border-radius: 45px !important;
    position: absolute;
    display: block;
}
.owl-theme .owl-dots .owl-dot.active span {
   background: red !important;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 45px !important;
}
@media only screen and (min-width: 826px) {
    .banner .coluna-1 {
        width: 50%;
        float: left;
    }
    .banner .coluna-2 {
        display: block;
        width: 50%;
        float: right;
        padding-left: 100px;
    }
    .banner .coluna-2 .texto-direita {
        text-align: right;
    }
    .banner .coluna-2 .texto-direita h2 {
        font-weight: bolder;
        color: var(--cor-secundaria);
        font-size: 28px;
    }
}