* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #8B5216;
    --color-2: #273C75;
    --color-3: #fafafa;
    --color-4: #F5F5F5;
    --color-5: #333333;
    --color-6: #E3A768;
    --color-7: #FCE0C2;
    --whats-color: #0FC146;
}

a,
a:hover {
    color: var(--color-5);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

ul,
li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 1px solid #e5e5e5;
}

.header {
    display: flex;
    justify-content: space-between;
}

.bg-main {
    background-color: var(--color-3);
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

.brand {
    width: auto;
}

.brand .name {
    display: flex;
    align-items: center;
}

.brand .name img {
    width: 40px;
}

.brand h1 {
    color: var(--color-2);
    margin-left: 0.7rem;
}

.brand h3 {
    font-size: 18px;
    text-align: right;
}

.bg-light {
    background-color: transparent;
}

.phone h2 {
    text-align: right;
    color: var(--color-1);
}

.phone i {
    margin-left: 1rem;
    color: var(--whats-color);
}

.menu {
    margin-top: 1rem;
}

.navbar-open ul {
    display: flex;
}

.navbar-open ul li {
    padding-right: 1rem;
}

.navbar-open ul li:last-child {
    padding-right: 0;
}

.nav-closed {
    display: none;
    font-size: 26px;
    border: 1px transparent;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .header-right .phone,
    .navbar-open {
        display: none;
    }
    h1 {
        font-size: 24px;
    }
    .brand h3 {
        font-size: 12px;
    }
    .nav-closed {
        display: block;
    }
    .menu {
        margin: 0;
    }
    .brand .name img {
        width: 30px;
    }
}


/** ---------------------------- Section Banner Principal --------------------------------------------------------------------------- **/

.bg-banner-principal {
    background-image: url("../../../advocacia/assets/images/bg-madeira-destaque-principal.png");
    height: 50vh;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .text {
    width: 55vw;
    color: var(--color-3);
    text-align: center;
}

.banner .text h1 {
    margin-bottom: 2rem;
}

.banner .text h2 {
    font-weight: 400;
    color: var(--color-7);
}

.text-line {
    border: 1px solid var(--color-6);
    width: 30vw;
    margin-bottom: 3rem;
}

.text-line::after {
    content: "Advogados que entendem";
    color: var(--color-6);
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 23.5%;
    left: 43%;
    background-color: var(--color-1);
    height: 1rem;
    width: 18rem;
}

.arrow-banner {
    font-size: 40px;
    color: var(--color-6);
    position: absolute;
    top: 36rem;
    background-color: var(--color-3);
    border-radius: 45%;
}

@media only screen and (max-width: 600px) {
    .text-line {
        width: 85vw;
        margin-bottom: 2rem;
        position: relative;
    }
    .text-line::after {
        font-size: 18px;
        top: -10px;
        left: 2.2rem;
        width: 15rem;
    }
    .banner .text {
        width: auto;
        padding: 1rem;
    }
    .banner .text h2 {
        font-size: 18px;
        text-align: left;
    }
    .banner .text h1 {
        text-align: left;
    }
    .bg-banner-principal {
        height: 90vh;
    }
}


/** ---------------------------- Section Áreas de atuação --------------------------------------------------------------------------- **/

.area-de-atuacao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
    background-color: white;
}

.atuacao-titulo h2 {
    color: var(--color-1);
    margin-bottom: 1rem;
}

.area-de-atuacao h3 {
    font-weight: 300;
}

.badges-areas {
    margin-top: 2rem;
    display: flex;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    min-width: 150px;
    border: 2px solid var(--color-1);
    border-radius: 10px;
    margin-right: 1rem;
}

.badge-active {
    background-color: var(--color-1);
    color: var(--color-3);
}

.coluna-4 {
    width: 54%;
}

.coluna-8 {
    border: 1px solid var(--color-6);
    padding: 1rem;
}

.coluna-8 img {
    width: 100%;
}

.app-router {
    margin-top: 4rem;
    display: flex;
}

.router-titulo {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-6);
    color: var(--color-1);
}

.router-content {
    padding-right: 4rem;
}

.saiba-mais {
    padding: 0.5rem;
    background-color: var(--color-1);
    border-radius: 10px;
    color: var(--color-3);
    width: 140px;
    float: right;
    margin-right: 4rem;
    margin-top: 2rem;
}

.saiba-mais h4 {
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .app-router {
        flex-direction: column;
    }
    .coluna-4 {
        width: auto;
        margin-bottom: 2rem;
    }
    .router-content {
        padding: 0;
    }
    .saiba-mais {
        margin-right: 0;
        margin-top: 0;
    }
    .badge {
        margin-right: 0;
    }
    .area-de-atuacao h3 {
        margin-bottom: 1rem;
    }
    .arrow-banner {
        top: 40.4rem;
        background-color: transparent;
    }
}


/** ---------------------------- Section Nossos Advogados --------------------------------------------------------------------------- **/

.nossos-advogados {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
}

.advogados-titulo h1 {
    color: var(--color-1);
    text-align: center;
}

.bloco-advogados {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.img-quadrado {
    border: 1px solid var(--color-1);
    padding: 0.2rem;
}

.img-quadrado img {
    width: 200px;
}

.adv-content-name {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-6);
    margin-bottom: 0.5rem;
    color: var(--color-1);
}

.bloco-advogados h3 {
    font-weight: 400;
}

.coluna-advogados-2 {
    padding: 0 2rem;
    width: 60%;
}

.quotes {
    color: var(--color-1);
    font-size: 85px;
    font-family: 'Secular One', sans-serif;
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .bloco-advogados {
        flex-direction: column;
    }
    .coluna-advogados-2 {
        width: auto;
        padding: 0;
        margin-top: 1rem;
    }
    .img-quadrado {
        width: 63.5%;
    }
    .nossos-advogados {
        padding: 5rem 0;
    }
    .area-de-atuacao {
        padding: 5rem 0;
    }
}


/** ---------------------------- Section Nossos Advogados --------------------------------------------------------------------------- **/

.nosso-escritorio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0;
}

.escritorio-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloco-escritorio {
    padding: 2rem;
}

.escritorio-conteudo table {
    color: var(--color-3);
    font-size: 20px;
}

.badge-nome-escritorio {
    border: 2px solid var(--color-3);
    padding: 1rem;
    border-radius: 18px;
    margin: 2rem 0;
    color: var(--color-3);
    width: 250px;
}

.escritorio-titulo {
    color: var(--color-3);
}

.bg-nosso-escritorio {
    background-image: url("../images/bg-escritorios.png");
    background-repeat: repeat;
    background-position-x: 50%;
}

.escritorio-enderecos {
    display: flex;
    color: var(--color-3);
}

.endereco-col {
    margin-right: 2rem;
}

.escritorio-enderecos h3 {
    padding: 0.3rem 0;
}

.icon-marker {
    margin-right: 1rem;
    font-size: 30px;
}

.escritorio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .escritorio-enderecos {
        flex-direction: column;
    }
    .icon-marker {
        display: none !important;
    }
}


/** ---------------------------- Section noticias --------------------------------------------------------------------------- **/

.noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
}

.bg-noticias {
    background-color: var(--color-1);
    width: 100vw;
    padding: 1rem;
}

.noticias-content {
    display: flex;
    align-items: center;
    color: var(--color-3);
    justify-content: center;
    width: 96vw;
}

.noticia-col {
    margin-right: 1rem;
    font-size: 26px;
}

.noticia-col-1 h3 {
    font-weight: 400;
}